/* ESTILIZAÇÃO PADRAO PARA O BODY */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* HACK PARA FAZER O RODAPE COLAR NO FINAL QUANDO SE USA FLOAT ACIMA DELE */
.clear-both{
  clear: both;
}

/* INICIO MENU */
.menu {
  background-color: teal;
  width: 100%;
}
.menu tr td {
  text-align: center;
  width: 25%;
}
.menu tr td a {
  color: #fff;
}
.menu tr td a img {
  width: 200px;
}

/* INICIO PAGINA INICIO */
main {
  width: 90%;
  margin: auto;
  padding: 150px 0;
}

/* INICIO PAGINA DE PRODUTOS */
#pagina-produto{
  width: 90%;
  margin: auto;
  padding: 35px 0;
}
#pagina-produto .categorias {
  width: 25%;
  text-align: left;
  float: left;
}
#pagina-produto .produtos{
  float: right;
  width: 75%;
  text-align: center;
}
#pagina-produto div.box_produto{
  float: left;
  width: 25%;
  height: 320px;
  padding: 20px;
  box-sizing: border-box;
}
#pagina-produto div.box_produto img{
  width: 170px;
}
#pagina-produto div.box_produto h1 {
  font-size: 14px;
}
#pagina-produto div.box_produto span.original {
  font-size: 14px;
  color: red;
  text-decoration: line-through;
  display: block;
}
#pagina-produto div.box_produto span.promocao {
  font-size: 14px;
}

/* INICIO NOSSAS LOJAS */
#nossas-lojas {
  width: 90%;
  margin: auto;
  padding: 70px 0;
}
#nossas-lojas .lojas .loja{
  width: 33%;
  float: left;
}
#pagina-contato{
  width: 90%;
  margin: auto;
  padding: 70px 0;
}

/* INICIO PAGINA DE CONTATO */
#pagina-contato .contatos .contato{
  float: left;
  width: 50%;
  text-align: center;
  padding: 20px 0;
}
#pagina-contato .contatos .contato img{ 
  width: 40px;
}
#pagina-contato .contatos .contato p{
  font-size: 14px;
}
#pagina-contato form{
  width: 50%;
}
#pagina-contato form label{
  font-size: 14px;
  font-weight: bold;
}
#pagina-contato form input.input{
  width: 100%;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 20px;
}
#pagina-contato form textarea.textarea{
  width: 100%;
  height: 120px;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 20px;
}
#pagina-contato form input.submit{
  padding: 10px 30px;
}

/* INICIO RODAPE */
footer{
  padding-top: 10px;
}
footer h4 {
  color: red;
}
footer div {
  text-align: center;
}
footer div img {
  width: 35%;
}
footer .barra-footer{
  background: teal;
  color: #f2f2f2;
  padding: 10px;
}
